{% extends "layout.html" %}

{% block featured %}
<div id="featured">
    <div class="inner-wrap">
    
        <div id="slider-container">
    
            <div class="slider">
        
                <article class="slide text-left clearfix">
                    <div class="post-content">
                        <h2>
                            <small>Let's Keep Things Simple!</small>
                            TelAPI Classroom
                        </h2>
                        <p>
                            The TelAPI Classroom is a powerful tool for building your knowledge
                            of the TelAPI platform, and getting you running real code on our servers
                            to sandbox your brilliant ideas quickly and easily!
                        </p>
                        <p>
                            The join code for this class is: <a href="/vf4kn" style="font-weight : bold;">f4kn</a>
                        </p>
                        <a class="button button-arrow">Learn more<span class="icon"></span></a>
                    </div><!-- end .slide-content -->
                    <div class="post-image-container">
                        <a href="/static/lessons/Lesson%201/Lesson%201.pptx"><img style="border : 1px solid #DDD; padding : 3px; background-color : #FFF;" src="/static/images/home-01.png" width="520" height="340" alt="image" class="featured-image" />
                    </div>                          
                </article><!-- end .slide -->
                <!--
                <article class="slide text-center clearfix">
                    <div class="post-content">
                        <h2 class="no-margin">
                            <em>CheerApp, the most feature-rich software oriented HTML theme ever.</em>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin felis sit amet ante varius dignissim.</p>
                    </div>
                    <div class="post-image-container">
                        <img src="/static/assets/placeholder-840x320.png" width="840" height="320" alt="image" class="featured-image" />
                    </div>                          
                </article>
                
                <article class="slide text-right clearfix">
                    <div class="post-content">
                        <h2>
                            <small>Welcome to CheerApp demo </small>HTML, the most feature-rich software oriented CheerApp theme ever.
                        </h2>
                        <a class="button button-arrow">Learn more<span class="icon"></span></a>
                    </div>
                    <div class="post-image-container">
                        <img src="/static/assets/placeholder-520x340.png" width="520" height="340" alt="image" class="featured-image" />
                    </div>                          
                </article>
                -->
            
            </div><!-- end slider -->
        
        </div><!-- end #slider-container -->
        
        <span class="slider-button prev"></span>
        <span class="slider-button next"></span>
    
    </div><!-- end .inner-wrap -->
</div><!-- end #featured -->
{% endblock %}

{% block content %}
<div class="column-container clearfix">

    <div class="column third">
        <h4>What is the TelAPI Classroom?</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis gravida lorem et consectetur. Fusce aliquam tempor elit venenatis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p>
            Donec mollis gravida lorem et consectetur. Ut dictum vestibulum odio quis sodales.
        </p>
    </div>
    <div class="column third">
            <div class="clearfix">
                <figure class="feature-thumbnail">
                    <a rel="prettyPhoto[gallery]" href="/static/assets/placeholder-520x340.png.png">
                        <img src="/static/assets/placeholder-58x58.png" width="58" height="58" alt="Attention to details" />
                    </a>
                </figure>
                <h6 style="text-transform: none;">Attention to details</h6>
                <p><small>Each single pixel has been carefully planned to create beautiful, unified design.</small></p>
            </div>
            <div class="clearfix">
                <figure class="feature-thumbnail">
                    <a rel="prettyPhoto[gallery]" href="/static/assets/placeholder-615x140.png">
                        <img src="/static/assets/placeholder-58x58.png" width="58" height="58" alt="Quality coding" />
                    </a>
                </figure>
                <h6 style="text-transform: none;">Quality coding</h6>
                <p><small>Light-weight and easy to use template thanks to best coding practices.</small></p>
            </div>
    </div>
    <div class="column third">
            <div class="clearfix">
                <figure class="feature-thumbnail">
                    <a rel="prettyPhoto[gallery]" href="/static/assets/placeholder-840x320.png">
                        <img src="/static/assets/placeholder-58x58.png" width="58" height="58" alt="Unique color vaiations" />
                    </a>
                </figure>
                <h6 style="text-transform: none;">Unique color vaiations</h6>
                <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small></p>
            </div>
            <div class="clearfix">
                <figure class="feature-thumbnail">
                    <a rel="prettyPhoto[gallery]" href="/static/assets/placeholder-58x58.png">
                        <img src="/static/assets/placeholder-58x58.png" width="58" height="58" alt="Unique features" />
                    </a>
                </figure>
                <h6 style="text-transform: none;">Unique features</h6>
                <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small></p>
            </div>
    </div>
    
</div>
{% endblock %}